@model WebApplication_aspnet.Models.Request

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar el Request</h1>

<h3>¿Estás seguro de que deseas eliminar esto?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">Nombre</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.Title)</dd>

        <dt class = "col-sm-2">Descripción</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.Description)</dd>
    </dl>
    
    <form asp-action="Delete" id="formEliminar">
        <input type="hidden" asp-for="Id_request" />
        <input type="button" value="Eliminar" class="btn btn-danger" onclick="confirmarEliminacion()" /> 
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

@section Scripts {
    <script>
        function confirmarEliminacion() {
            Swal.fire({
                title: '¿Estás seguro?',
                text: "¡No podrás revertir esto! Se eliminará permanentemente.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Sí, ¡eliminarlo!',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById('formEliminar').submit();
                }
            });
        }
    </script>
}