@model WebApplication_aspnet.Models.Office

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar Oficina</h1>

<h3>¿Estás seguro de que deseas eliminar esto?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">Nombre</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.Sname)</dd>

        <dt class = "col-sm-2">Dirección</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.Saddress)</dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Nid_office" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>